$separations: (0, 0.25rem, 0.5rem, 1rem, 1.5rem, 3rem);
$separationClasses: (
    m: margin,
    p: padding
);

@for $i from 1 through length($separations) {
    $value: nth($separations, $i);
    $index: $i - 1;

    @each $id, $className in ($separationClasses) {
        .#{$id}s-#{$index} {
            #{$className}-left: #{$value} !important;
        }

        .#{$id}e-#{$index} {
            #{$className}-right: #{$value} !important;
        }

        .#{$id}t-#{$index} {
            #{$className}-top: #{$value} !important;
        }

        .#{$id}b-#{$index} {
            #{$className}-bottom: #{$value} !important;
        }

        .#{$id}-#{$index} {
            @extend .#{$id}s-#{$index};
            @extend .#{$id}e-#{$index};
            @extend .#{$id}t-#{$index};
            @extend .#{$id}b-#{$index};
        }
    }
}

$sizes: (25, 50, 75, 100);
$sizeClasses: (
    h: height,
    w: width
);

@each $size in ($sizes) {
    @each $id, $className in ($sizeClasses) {
        .#{$id}-#{$size} {
            #{$className}: #{$size + "%"} !important;
        }
    }
}

.p-relative {
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.lh-1 {
    line-height: 1;
}

.d-flex {
    display: flex !important;
}

.c-pointer {
    cursor: pointer;
}
