.mat-mdc-card.custom-card {
    --mdc-elevated-card-container-shape: 10px;
    --mdc-elevated-card-container-elevation: 0px 10px 30px var(--app-sw2);

    .mat-mdc-card-header-text {
        flex-grow: 1;
    }

    .mat-mdc-card-title {
        color: var(--app-cl3);
        text-align: center;
    }
}
