$palette: (
    50: #ffffff,
    100: #ffeaed,
    200: #fecad0,
    300: #ee9596,
    400: #e36c6d,
    500: #ec4949,
    600: #f0352d,
    700: #e12a2d,
    800: #d01e27,
    900: #c31520,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff
    )
);

$accent: (
    50: #e2f1fd,
    100: #b9dcfa,
    200: #8cc6f7,
    300: #5db0f3,
    400: #379ff2,
    500: #0090ef,
    600: #0182e1,
    700: #0070ce,
    800: #005fbc,
    900: #00419d,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff
    )
);

$primary-color: map-get($palette, 500);
$accent-color: map-get($accent, 500);

$palette-background1: #f7f7f7;
$palette-background2: #ffffff;

$palette-color1: #ff3442;
$palette-color2: #808994;
$palette-color3: #393b44;

$palette-shadow1: #81818129;
$palette-shadow2: #393b442c;

:root {
    --app-primary: #{$primary-color};
    --app-accent: #{$accent-color};

    --app-bg1: #{$palette-background1};
    --app-bg2: #{$palette-background2};

    --app-cl1: #{$palette-color1};
    --app-cl2: #{$palette-color2};
    --app-cl3: #{$palette-color3};

    --app-sw1: #{$palette-shadow1};
    --app-sw2: #{$palette-shadow2};
}
