@use "@angular/material" as mat;
@use "src/assets/styles/material/theme.scss";
@use "src/assets/styles/material/typography.scss";
@use "src/assets/styles/material/button.scss";
@use "src/assets/styles/material/form.scss";
@use "src/assets/styles/material/card.scss";

@include mat.core();

$my-primary: mat.define-palette(theme.$palette);
$my-accent: mat.define-palette(theme.$accent);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent
        ),
        typography: typography.$my-custom-typography-config,
        density: 0
    )
);

@include mat.all-component-themes($my-theme);
