@use "src/assets/styles/utils/layout";

:host {
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--app-bg2);
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 6;
    bottom: 0;
}

.mat-mdc-button {
    height: 48px;

    > .mat-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}

@include layout.use-viewport(small, null) {
    :host {
        display: none;
    }
}
